<form action="{% url 'search' %}" method="post">
{% csrf_token %}
{% if carmodel_result %}
    {% for car in carmodel_result %}
        <li>CarID:{{ car.id }}</li>
        <li>名前:{{ car.carmodel.name }}</li> <li>メーカー:{{car.carmodel.manufacturer.name}}</li>
        <li>価格:{{car.price}}円 </li> <li>車種:{{car.get_body_type}} ギア:{{ car.get_gear }} 走行距離:{{ car.mileage }}km 車の色:{{ car.get_color }}  車検日:{{car.latest_inspection_date}}</li><br>
    {% endfor %}
{% endif %}

    <h2>検索</h2>

        <ul>
        {{ form.as_ul }}
        </ul>


<input type="submit" value="検索">
</form>
